<nav class="govuk-!-margin-bottom-6" aria-label="Outcomes page versions">
  <p class="govuk-body govuk-!-margin-bottom-1"><strong>View versions:</strong></p>
  <p class="govuk-body govuk-!-margin-bottom-0">
    {% if currentView == "accordion" %}
      <strong>Accordion</strong>
    {% else %}
      <a class="govuk-link" href="/outcomes">Accordion</a>
    {% endif %}
    |
    {% if currentView == "static" %}
      <strong>Static</strong>
    {% else %}
      <a class="govuk-link" href="/outcomes-static">Static</a>
    {% endif %}
    |
    {% if currentView == "table" %}
      <strong>Table</strong>
    {% else %}
      <a class="govuk-link" href="/outcomes-table">Table</a>
    {% endif %}
  </p>
</nav>
