{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageName = "Outcomes framework (table)" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ tableData.title }}</h1>
    {% set currentView = "table" %}
    {% include "outcomes/partials/view-nav.html" %}
    {{ govukTable({
      classes: "govuk-!-font-size-16",
      firstCellIsHeader: false,
      head: [
        { text: tableData.columns[0] },
        { text: tableData.columns[1] },
        { text: tableData.columns[2] },
        { text: tableData.columns[3] },
        { text: tableData.columns[4] }
      ],
      rows: tableRows
    }) }}

  </div>
</div>
{% endblock %}
