{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">
      Accessible HTML version of the Defra Outcomes Framework for reading with assistive technology, search, and reflow.
    </p>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="/outcomes">View the outcomes framework</a>
    </p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
